<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let pelicula of peliculas">

    <ion-row>
      <ion-col size="12">
        <ion-card mode="md"  (click)="verDetalle(pelicula.id)">
          <ion-img class="poster" [src]="pelicula.poster_path | imagen"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-slide>
</ion-slides>

<div *ngIf="peliculas.length==0">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
        <ion-row>
          <ion-col size="12">
            <ion-skeleton-text animated class="skeleton-poster"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
</div>