<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar película" 
                    animated
                    debounce="700"
                    [value]="textoBuscar"
                    (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed *ngIf="buscando">
    <ion-row>
      <ion-col size="6" *ngFor="let item of [1,1,1,1]">
        <ion-card>
          <ion-skeleton-text animated class="skeleton-poster-fav"></ion-skeleton-text>
          <ion-card-header>
            <ion-card-subtitle><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <!-- <ion-row>
      <ion-col style="justify-content: center;display:flex">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-list *ngIf="peliculas.length === 0">
    <ion-item *ngFor="let idea of ideas"
              (click)="textoBuscar = idea">
      <ion-label color="primary">{{ idea }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let pelicula of peliculas">
        <ion-card (click)="verDetalle(pelicula.id)">
          
          <ion-img [src]="pelicula.poster_path | imagen"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{ pelicula.release_date }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <h2>{{ pelicula.title }}</h2>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
