<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-backdrop [peliculas]='peliculasRecientes'></app-slideshow-backdrop>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h5>Cartelera</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [peliculas]='peliculasRecientes'></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h5>Populares</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-pares [peliculas]='populares'
                        (cargarMas)="cargarMasPopulares()"></app-slideshow-pares>

</ion-content>
