<ion-header mode="ios" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>


  <ion-segment scrollable 
              mode="md"
              color="primary"
              (ionChange)="cambioCategoria($event)">
              
    <ion-segment-button mode="md" 
    *ngFor="let pelicula of favoritoGeneroTodos | filtroGeneros"
    [value]="pelicula.genero">
      <ion-label text-capitalize>{{ pelicula.genero }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-slides class="allSize" [options]="sliderOpts"
  *ngIf="favoritoGenero[0].peliculas.length==0">
    <ion-slide>
      <h4>Aún no has añadido ninguna pelicula a favoritos</h4>
    </ion-slide>
  </ion-slides>
  
  <div *ngIf="favoritoGenero.length>0">
    <app-posters (detalleCerrado)="onModalDetalleCerrado()"
                [peliculas]="favoritoGenero[0].peliculas">
    </app-posters>
  </div>


</ion-content>
